:root {
    --conhecimento-color: #00008B; /* Neon Blue */
    --grana-color: #008000; /* Lime Green */
    --codigo-color: #0C090A; /* Granite */
    --dados-color: #FFA500; /* Amber */
}

.resource-counter,
.production-label,
.generation-title,
.generation-cost,
.timer,
.level-display {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Conhecimento */
#conhecimentoGenerationPanel {
    background-image: url('Conhecimento.png');
    background-size: cover;
    background-position: center;
    flex: 1;
    flex-direction: column;
}

/* Dados */
#dadosGenerationPanel {
    background-image: url('Data.png');
    background-size: cover;
    background-position: center;
    flex: 1;
    flex-direction: column;
}

/* Grana */
#granaGenerationPanel {
    background-size: cover;
    background-position: center;
    flex: 1;
    flex-direction: column;
}

/* Código */
#codigoGenerationPanel {
    background-image: url('Code.png');
    background-size: cover;
    background-position: center;
    flex: 1;
    flex-direction: column;
}

#conhecimentoGenerationPanel .resource-title {
    color: var(--conhecimento-color);
    border-bottom: 2px solid var(--conhecimento-color);
}

#granaGenerationPanel .resource-title {
    color: var(--grana-color);
    border-bottom: 2px solid var(--grana-color);
}

#codigoGenerationPanel .resource-title {
    color: var(--codigo-color);
    border-bottom: 2px solid var(--codigo-color);
}

#dadosGenerationPanel .resource-title {
    color: var(--dados-color);
    border-bottom: 2px solid var(--dados-color);
}

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#game {
    display: flex;
    height: 100vh;
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 22%;
}

.center-column {
    display: flex;
    flex-direction: column;
    width: 45%;
    z-index: 2;
}

.right-column {
    width: 33%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.resource-panel {
    flex: 1;
    background-color: #c9c9c9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.click-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #c9c9c9;
}

.generation-panel {
    border: 
